
<h1> All users </h1>

<div class="row">
  <div class="span12 offset0">
    
    <%= link_to "Send all ", excels_sent_all_path, class: "btn btn-large btn-primary", style: "display: none;"%>
    <table class="table table-bordered" id="examination-list">
      <thead>
        <tr>
          <th></th>
          <th>uid</th>
          <th>display_name</th>
          <th>email</th>
          <th>attachment</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @names.each_with_index do |item, index| %>
          <tr>
            <% 
            logger.info "-------------" + index.to_s
            user = User.find_by_uid(item[0])
            user = nil if user.nil? || user.email.include?("deactivated")
            uid = item[0]
            name = item[1]
            %>
            <td><%= index + 1 %></td>
            <td><%= uid %></td>
            <td><%= name %></td>
            <td><%= user.email unless user.nil? %></td>
            <% if !user.nil? %>
            <td>
              <a href="javascript: void(0)" onclick="$.fileDownload('/excels/download?uid=<%= uid %>')"><%= uid %></a>
            </td>
            <td>
              <div id="<%= uid %>">
                <%= link_to "Send ", excels_sent_email_path(uid: uid), remote: true, class: "btn btn-large btn-primary"%>
              </div>
            </td>
            <% else %>
            <td></td>
            <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>